<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Login</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 catalogItems">
				<h2>Categories</h2>
				<ul class="list-unstyled">
			  {% for category in categories %}
			      <li> 
			      	<a href="{{url_for('showCategoryItems', category_id = category.id)}}">{{ category.name }}</a>
			      </li>
			  {% endfor %}
			  </ul>
			</div>
			<div class="col-xs-9">
				<h2>{{ category.name }} ({{items|length}} items)</h2>
				<ul class="list-unstyled">
			  {% for category_item in items %}
			      <li>
			      	{{ category_item.name }}
			      </li>
			  {% endfor %}
			  </ul>
			</div>
		</div>
	</div>
	
</body>
</html>