<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li>
	            	<form>
								  <div class="form-group">
								  	<label for="username">Username</label>
								    <input type="text" class="form-control" id="username" placeholder="Username">
								  </div>
								  <div class="form-group">
								    <label for="password">Password</label>
								    <input type="password" class="form-control" id="password" placeholder="Password">
								  </div>
								  <button type="submit" class="btn btn-default">Login</button>
								  <button type="submit" class="btn btn-default">Logout</button>
								</form>
	            </li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 catalogItems">
				<h2>Categories</h2>
				<ul class="list-unstyled">
			  {% for category in categories %}
		      <li> 
		      	<a href="{{url_for('showCategoryItems', category_id = category.id)}}">{{ category.name }}</a>
		      </li>
			  {% endfor %}
			  </ul>
			</div>
			<div class="col-xs-9">
				<h2>List Items</h2>
				<ul class="list-unstyled">
			  {% for category_item in items %}
			      <li>
			      	<a href="{{url_for('categoryItem', category_id = category_item.category.id, item_id = category_item.id)}}">
				      	{{ category_item.name }}
				      	<small>({{ category_item.category.name }})</small>
			      	</a>
			      </li>
			  {% endfor %}
			  </ul>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>