<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
		</script>
		<script src="//apis.google.com/js/platform.js?onload=start" async defer> </script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Category APP</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		        	{% if not login_session %}
		          	<a href="{{ url_for('showLogin') }}">Login</a>
		          {% endif %}
		          {% if login_session %}
		          	<a href="{{ url_for('gdisconnect')}}">
		          		Logout
		          		<span>{{login_session['username']}}</span>
		          		<img class="userpic" src="{{login_session['picture']}}"/>
		          	</a>
		          {% endif %}
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	</body>
</html>